button, input, select, optgroup, textarea {
 
    border: 1px solid gray;
}

button, input, select, optgroup, textarea {
   
    border: 1px solid gray;
    padding: 2px;
}

*, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 4px violet;
    margin: 4px;
    padding: 2px;
}